!.gitignore
.vscode/

cert/
data/
demo/
face/
html/
images/
includes/
js/
languages/
mc_upfile/
plugins/
seller/
seller_imgs/
seller_themes/
sms/
static/
stores/
temp/
Templates/
themes/
widget/


*.zip
*.rar
*.bak
*.log
*.sql
